body {
    background-color: black;
    text-align: center
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}
.callToAction {
    color: aquamarine;
    font-size: 16px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color : white;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
.copyright {
    text-align: right;
    color: gray;
}